{{# if admin}}
<div class="top_menu fixed-top bg-secondary row m-0">
			<div class="container">
				
				<div class="text-center">
					<ul class="right_side">
                        <li>
						<a href="/user/login" class="text-center">
						<i class="fa fa-user text-white" aria-hidden="true"> Back To User Page</i>
						 
					</a>	
						</li>
						
					</ul>
				</div>
			</div>
		</div>
 
{{else}}
{{# if book}}
<div class="top_menu fixed-bottum bg-secondary row m-0">
			<div class="container">
				
				<div class="text-center">
					<ul class="right_side">
                        <li>
						<a href="/doctor/login" class="text-center">
						<i class="fa fa-user-md text-white" aria-hidden="true"> Are You a Doctor</i>
						 
					</a>	
						</li>
						
					</ul>
				</div>
			</div>
		</div>
 
{{else}}
{{# if doctor}}
<div class="top_menu fixed-bottum bg-secondary row m-0">
			<div class="container">
				
				<div class="text-center">
					<ul class="right_side">
                        <li>
						<a href="/user/login" class="text-center">
						<i class="fa fa-user text-white" aria-hidden="true"> Back To User</i>
						
						</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
 
{{else}}

<!--================ start footer Area =================-->
	<footer class="footer-area  section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2  col-md-6">
					<div class="single-footer-widget">
						<h6>Top Products</h6>
						<ul class="footer-nav">
							<li>
								<a href="#">Managed Website</a>
							</li>
							<li>
								<a href="#">Manage Reputation</a>
							</li>
							<li>
								<a href="#">Power Tools</a>
							</li>
							<li>
								<a href="#">Marketing Service</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4  col-md-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Contact Us</h6>
						<p>
							56/8, Santa bullevard, Rocky beach, San fransisco, Los angeles, USA
						</p>
						<h3>012-6532-568-9746</h3>
						<h3>012-6532-568-97468</h3>
					</div>
				</div>
				<div class="col-lg-6  col-md-12">
					<div class="single-footer-widget newsletter">
						<h6>Newsletter</h6>
						<p>You can trust us. we only send promo offers, not a single spam.</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="form-group row">
									<div class="col-lg-7 col-md-6 col-sm-12">
										<input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
										 required="" type="email">
									</div>

									<div class="col-lg-5 col-md-12">
										<button class="nw-btn main_btn circle">get started
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row footer-bottom d-flex justify-content-between">
				<div class="col-lg-4 col-sm-12 footer-social">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa fa-dribbble"></i>
					</a>
					<a href="#">
						<i class="fa fa-behance"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>
	{{/ if}}
	{{/ if}}
	{{/ if}}