<div class="container">
    <h2 class="text-center mt-3 "><p>Booking Details</p></h2>
    <table class="table mb-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{lookup ../count @key}}</th>
      <th scope="col">Name</th>
      <th scope="col">Appointment Date</th>
      <th scope="col">Phone</th>         
    </tr>
  </thead>
      
  <tbody>
    {{#each details}}  
    <tr>
      {{#each this}}
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.app_date}}</td>
      <td>{{this.phone}}</td>
      {{/each }}
    </tr>
    {{/each }}
    
  </tbody>
</table>


</div>