
 <div class="page-wrapper mb-5 m-3 flex-container center bg-gra-01 p-t-280 p-b-200   font-poppins"> 
        <div class="wrapper  wrapper--w780">
           
            <div class="card bg-white card-3 m-5">
                <h1 class="text-secondary text-center">DOCTOR LOGIN</h1> 
                <div class="card-heading"></div>
                <div class="card-body">
                    
                     {{isnt errorss=''}}
                       {{#each errorss}}
                            {{#each this}}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{this}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {{/each}}
                        {{/each}}
                    {{isnt}}    
                    <form action="/user/login" method="post" >
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Email" name="email">
                        </div>
                        
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="p-t-10">
                           <button class="btnn btnn--pill btnn--green" type="submit">Login</button>
                        </div>
                        <p class="text-secondary mt-2">If you don't have an account <a href="/doctor/signup" class="bg-white text-success">Signup</a></p> 
                    </form>
                </div>
            </div>
        </div>
    </div>