
<div class="container mt-5">
    <h2 class="text-center mb-4">Admin Panel</h2>
    <div class="row"> 
        <div class="col-12">

        </div>
            <div class="col-6">
                <form action="">
          
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <input type="search" placeholder="Search Doctor" aria-describedby="button-addon3" class="form-control bg-none border-0">
                        <div class="input-group-append border-0">
                        <button id="button-addon3" type="button" class="btn btn-link text-primay"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                
                </form>
           
                <table class="table mb-5">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">No</th>
                        <th scope="col">Docrtor Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>33</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>35</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>21</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <form action="">
          
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <input type="search" placeholder="Search User" aria-describedby="button-addon3" class="form-control bg-none border-0">
                        <div class="input-group-append border-0">
                        <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                
                </form>
                <table class="table mb-5">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">No</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>33</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                       
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>35</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>21</td>
                        <td>1234567890</td>
                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>