
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content text-left">
				<h2>Procedure Category</h2>
				<div class="page_link">
					<a href="/">Home</a>
					<a href="user/department"> Departments</a>
				</div>
			</div>
		</div>
	</div>
</section>

	<!--================ Procedure Category Area =================-->
	<section class="procedure_category section_gap">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12">
					<h1>DEPARTMENTS</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p1.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>								
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p2.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p3.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>								
			</div>
			<div class="row mt-4">
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p1.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>								
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p2.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>
				<div class="col-lg-4">
					<div class="categories_post">
						<img src="/images/procedure/p3.jpg" alt="Procedure">
						<div class="categories_details">
							<div class="categories_text">
								<div class="border_line"></div>
								<a href="single-blog.html">
									<h5>BOOK AN APPOINTMENT</h5>
								</a>
								<div class="border_line"></div>
							</div>
						</div>
					</div>
					<a href=""><h2 class="text-primary mt-2 text-center">E N T</h2></a> 
				</div>								
			</div>

		</div>
	</section>
	<!--================ End Procedure Category Area =================-->
	
