<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content text-left">
				<h2>Profile</h2>
				<div class="page_link">
					<a href="/">Home</a>
					<a href="user/profile"> Profile</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container emp-profile mt-4">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head mb-5">
                                    <h5>
                                        Kshiti Ghelani
                                    </h5>
                                    
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-center text-secondary">Your Appointments</h3>
                        <div class="border mt-2">
                            
                            <a href="" class="btn btn-danger float-right mt-5 mr-2 ">Cancel</a>
                            <p class=" mt-2 ml-2"> Doctor Name : afees</p>
                            <p class=" mt-2 ml-2">place : akh hospital</p>
                            <p class=" ml-2 mb-0">Date : 12/02/2019</p><br>
                            
                        </div>
                         <div class="border mt-2">
                            
                            <a href="" class="btn btn-danger float-right mt-5 mr-2 ">Cancel</a>
                            <p class=" mt-2 ml-2"> Doctor Name : afees</p>
                            <p class=" mt-2 ml-2">place : akh hospital</p>
                            <p class=" ml-2 mb-0">Date : 12/02/2019</p><br>
                            
                        </div>
                         <div class="border mt-2">
                            
                            <a href="" class="btn btn-danger float-right mt-5 mr-2 ">Cancel</a>
                            <p class=" mt-2 ml-2"> Doctor Name : afees</p>
                            <p class=" mt-2 ml-2">place : akh hospital</p>
                            <p class=" ml-2 mb-0">Date : 12/02/2019</p><br>
                            
                        </div>
                    <a href="">
                        <p class="float-right">See More >></p>
                    </a>

                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Kshiti123</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>kshitighelani@gmail.com 
                                                <a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-pencil ml-2 text-primary" aria-hidden="true">
                                                </i></a><div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Update Email:</label>
                                                            <input type="email"  class="form-control" id="recipient-name" required>
                                                        </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Send Changes</button>
                                                    </div>
                                                    </div>
                                                </div>


                                                </div>

</p>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890 
                                                <a href="" data-toggle="modal" data-target="#exampleModal-1" data-whatever="@mdo"><i class="fa fa-pencil ml-2 text-primary" aria-hidden="true">
                                                </i></a>
                                                <div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="recipient-name" class="col-form-label">Update Phone :</label>
                                                                        <input type="email"  class="form-control" id="recipient-name" required>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Send Changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date of Birth</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>22/08/2019 
                                                    <a href="" data-toggle="modal" data-target="#exampleModal-2" data-whatever="@mdo"><i class="fa fa-pencil ml-2 text-primary" aria-hidden="true">
                                                </i></a>
                                                <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="recipient-name" class="col-form-label">Update Date of Birth :</label>
                                                                        <input type="date"  class="form-control" id="recipient-name" required>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Send Changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>City</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Banglore
                                                    <a href="" data-toggle="modal" data-target="#exampleModal-3" data-whatever="@mdo"><i class="fa fa-pencil ml-2 text-primary" aria-hidden="true">
                                                </i></a>
                                                <div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="recipient-name" class="col-form-label">Update City :</label>
                                                                        <input type="text"  class="form-control" id="recipient-name" required>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Send Changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Zip</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>676306
                                                    <a href="" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@mdo"><i class="fa fa-pencil ml-2 text-primary" aria-hidden="true">
                                                </i></a>
                                                <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="recipient-name" class="col-form-label">Update Zip :</label>
                                                                        <input type="text"  class="form-control" id="recipient-name" required>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Send Changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>